body {
	background-image: url(Content/hatter.png);
    background-color: #353c3fa8;
}
* {
  margin: 0;
  padding: 0;
  font: 25px;
}
header{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	position: fixed;
	width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #353C3F;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FF8D3F;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
	background: #6C6F71;
}

.active{
	color:#FF8D3F
}
#kepes{
	padding: 100px;
	background-position: center;
	background-size: 120%;
}
.kepes{
	font-family: 'Raleway', sans-serif;
	color: white;
	padding: 5px 10px;
	background-color: black;
	opacity: 0.7;

}
.gomb{
	background-color: #7cc576;
	color: white;
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	margin-top: 50px;
	text-decoration: none;
}
.gomb a:hover{
	background: #D5D6D2;
}
.gomb2{
	background-color: #353C3F;
	color: white;
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	text-decoration: none;
}
#leiras{
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	text-align: center;
}
#blog{
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
#elerhetoseg{
	background-color: gray;
	font-family: 'Raleway', sans-serif;
	color: white;
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
}
.copy{
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	float: right;
}
.first{
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	background-color: #353C3F;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	color: white;
}
.margo{
	margin-top:50px;
	margin-bottom:50px;
}
#focim{
	background-color:#E6E6E6;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
.p{
	font-size: 20px;
	margin-top: 50px;
}
.blogkep{
	float: right;
	width: 200px;
}
.blogszov{
	margin-top:20px;
}
.logokep{
	padding: 5px;
	width: 60px;
	margin-left:200px;
	margin-top: 10px;
}
/* Munka adó formázása */
.offering{
    font: 70px;
    text-align: center;
    padding: inherit;
    color: #FF8D3F;
    opacity: 40% ;
    margin: 60px;
}
.offering a{
    border-style: outset;
    text-decoration: none;
    background-color: #FF8D3F;
}

.job-post{
    
}
.MadoMyJobs{
    
    border-top-width: 10px;
    border-top-color: black;
    background-color: #353c3fa8;
}
.first a{
    text-decoration: none;
    color: #FF8D3F;
}
#visszavonas{
    border-style: outset;
        
}
.beljebb{
    padding-left: 30px;
}
#feljeb{
    position: absolute;
    top: 60px;
}